#home{
    width: 100%;
    height: 100%;
    /* min-height: 100vh; */
    display: flex;
   
}

.lefthome{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
.homedetails{
    font-size: 2vmax;
}
.line1{
    font-size: 0.8em;
    /* color: rgb(157, 32, 166) ; */
}
.line2{
    font-size: 1.2em;
    font-weight: bold;
    background: linear-gradient(to right,rgb(36, 36, 155),aliceblue);
    color: rgb(36, 36, 155);
    background-clip: text;
    color: transparent;
}
.line3{
    font-size: 1em;
    /* color: rgb(157, 32, 166); */
}
.righthome {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px; /* This gives the 3D depth */
}

.righthome img {
    width: 40%;
    transform: rotateY(15deg) rotateX(10deg);
    filter: drop-shadow(3px 6px 15px aliceblue);
    transition: transform 0.5s ease, filter 0.5s ease;
}

/* Optional: 3D Hover effect */
.righthome img:hover {
    transform: rotateY(0deg) rotateX(0deg) scale(1.05);
    filter: drop-shadow(2px 2px 10px rgb(27, 92, 233));
}

.homedetails button{
   padding: 10px 30px; 
   background-color:rgb(102, 32, 107) ;
   color: aliceblue ;
   border: 2px solid rgb(102, 32, 107);
   margin-top: 30px;
   border-radius: 20px;
   font-size: 19px;
   transition: all 0.2s;
   cursor: pointer;
}
.homedetails button:hover{
    background-color: transparent;
    color:rgb(102, 32, 107) ;
}
@media (max-width:750px) {
    #home{
        flex-direction: column-reverse;
    }
    .lefthome{
        width: 100%;
        height: 35vh;
        /* align-items: end; */
    }
    .righthome{
        width: 100%;
        height: 60vh;
        align-items: end;
    }
    
}